@page "/graphs"
@using Microsoft.Maui.Controls
@using Microsoft.Maui.Controls.Xaml
@using Microsoft.AspNetCore.Components.WebView.Maui
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@code {
    public string ErrorMessage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowWidget();
        }
    }

    public async Task ShowWidget()
    {
        try
        {
            //Костыль высота не регулируется
            await JS.InvokeVoidAsync("loadWidgetGraph", "widget1", "PA1!", "100%", "300%", "light", "ru");
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}

<h1>Графики</h1>

<div id="widget1"></div>


