@page "/"
@inject NavigationManager NavigationManager

<h1>Приветствую, с чего начнём?</h1>

<div>
    <button @onclick="GoToQuotesPage">Котировки</button>
    <button @onclick="GoToGraphsPage">Графики</button>
    <button @onclick="GoToForecastsPage">Прогнозы</button>
    <button @onclick="GoToInfoPage">Инфо</button>
</div>

@code {
    private void GoToQuotesPage()
    {
        NavigationManager.NavigateTo("/quotes");
    }

    private void GoToGraphsPage()
    {
        NavigationManager.NavigateTo("/graphs");
    }

    private void GoToForecastsPage()
    {
        NavigationManager.NavigateTo("/forecasts");
    }

    private void GoToInfoPage()
    {
        NavigationManager.NavigateTo("/info");
    }
}