@page "/quotes"
@using Microsoft.Maui.Controls
@using Microsoft.Maui.Controls.Xaml
@using Microsoft.AspNetCore.Components.WebView.Maui
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@code {
    public string ErrorMessage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowWidget();
        }
    }

    public async Task ShowWidget()
    {
        try
        {
            await JS.InvokeVoidAsync("loadWidgetQuote", "widget1", "PA1!", "100%", "light", false, "ru");
            await JS.InvokeVoidAsync("loadWidgetQuote", "widget2", "AAPL", "100%", "light", false, "ru");
            await JS.InvokeVoidAsync("loadWidgetQuote", "widget3", "DXY", "100%", "light", false, "ru");
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}

<h1>Котировки</h1>

<div>
    <div id="msg"></div>
    <div id="widget1"></div>
    <div id="widget2"></div>
    <div id="widget3"></div>
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <p>Exception: @ErrorMessage</p>
    }
</div>

