.bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size:14px;
}

.bottom-navigation nav {
    display: flex;
    justify-content: space-around;
}

.bottom-navigation .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-link .oi {
    margin-bottom: 0.5rem;
}

.bottom-navigation .nav-link:hover {
        background-color: #e6e6e6;
}
