@page "/graphs"
@using Microsoft.Maui.Controls
@using Microsoft.Maui.Controls.Xaml
@using Microsoft.AspNetCore.Components.WebView.Maui
@using Microsoft.JSInterop
@using System.Diagnostics;
@inject IJSRuntime JS;

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowWidget();
        }
    }

    public async Task ShowWidget()
    {
        try
        {
            //Костыль высота не регулируется
            await JS.InvokeVoidAsync("loadWidgetGraph", "widget1", "PA1!", "100%", null, "light", "ru");
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }
}

<div style="height: 100%; width: 100%;" id="widget1"></div>

