/* _content/TradingView.Blazor/TradingViewChart.razor.rz.scp.css */
.my-component[b-s4x1a4sc36] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
