
<div class="bottom-navigation">
    <nav class="flex-row">
        <NavLink class="nav-link" href="news">
            <span class="oi oi-document" aria-hidden="true"></span> Новости
        </NavLink>
        <NavLink class="nav-link" href="actual">
            <span class="oi oi-clock" aria-hidden="true"></span> Актуальное
        </NavLink>
        <NavLink class="nav-link" href="quotes">
            <span class="oi oi-dollar" aria-hidden="true"></span> Котировки
        </NavLink>
        <NavLink class="nav-link" href="graphs">
            <span class="oi oi-graph" aria-hidden="true"></span> Графики
        </NavLink>
        <NavLink class="nav-link" href="more">
            <span class="oi oi-menu" aria-hidden="true"></span> Ещё
        </NavLink>
    </nav>
</div>