
<div class="top-navigation">
    <nav class="flex-row">
        <NavLink class="nav-link" href="forecastsstock">
            Прогнозы
        </NavLink>
        <NavLink class="nav-link" href="lessonsstudy">
            Видео уроки
        </NavLink>
        <NavLink class="nav-link" href="signalsintraday">
            Сигналы
        </NavLink>
        <NavLink class="nav-link" href="vipsignals">
            Vip Сигналы 
        </NavLink>
    </nav>
</div>