/*-----------------------*/
/* Õ»∆Õ≈≈ Œ ÕŒ Õ¿¬»√¿÷»» */
/*-----------------------*/


.bottom-navigation {
    z-index:4;

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.bottom-navigation nav {
    display: flex;
    justify-content: space-around;
}

.bottom-navigation .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-link .oi {
    margin-bottom: 0.5rem;
}

.bottom-navigation .nav-link:hover {
    background-color: #e6e6e6;
}


/*------------------------*/
/* ¬≈–’Õ≈≈ Œ ÕŒ Õ¿¬»√¿÷»» */
/*------------------------*/

.top-navigation {
    z-index: 4;

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.top-navigation nav {
    display: flex;
    justify-content: space-around;
}

.top-navigation .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-link .oi {
    margin-bottom: 0.5rem;
}

.top-navigation .nav-link:hover {
    background-color: #e6e6e6;
}

.main-content {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 75px;
}

@media (max-width: 767px) {
    .top-navigation,
    .bottom-navigation {
        font-size: 12px; 
    }

    .main-content {
        padding-top: 50px;
        padding-bottom: 65px; 
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*------------------*/
/* Œ—ÕŒ¬ÕŒ…  ŒÕ“≈Õ“ */
/*------------------*/

.side-navigation {
    padding: 10px;
}

.side-navigation .nav-link {
    border: 1px solid #000;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.side-navigation .nav-link.active {
    background-color: #f0f0f0;
}


/*-------------------------*/
/* ¡ÀŒ » “≈ —“-»«Œ¡–¿∆≈Õ»ﬂ */
/*-------------------------*/

.uk-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.uk-card-body {
    padding: 10px 10px;
}

.message-container {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start; 
    border-radius: 10px; 
    border: 1px solid #ddd; 
    padding: 10px;
}

.message-image {
    width: 80px; 
    height: auto;
    border-radius: 5px; 
    margin-right: 10px; 
}

.message-text {
    flex: 1;
}


/*------------------------*/
/* —“»À»«¿÷»ﬂ «Õ¿◊ ¿ œÀﬁ— */
/*------------------------*/

.plus {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0), #000;
    background-position: center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}

.alt {
    background: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    background-position: center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}

.radius {
    border-radius: 50%;
}


/*---------------------*/
/* √¿À≈–≈ﬂ »«Œ¡–¿∆≈Õ»… */
/*---------------------*/

